.container {
  display: flex;
  flex-direction: rew-column;
  align-items: start;
}

.img {
  flex: 1;
  order: 1;
  flex-shrink: ;
}

.main-title {
  flex: 1;
  width: 495px;
  height: 152px;
  left: 200px;
  top: 280.71px;
  font-family: Ramaraja;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0.02em;
  color: #967bd6;
}

.main-info {
  flex: 1;
  width: 600px;
  height: 99px;
  left: 199.94px;
  top: 443px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #08e6a3;
}

.button {
  width: 152px;
  height: 63.82px;
  left: 200px;
  top: 588.71px;
  background-color: #dc0042;
  border-radius: 6px;
}
